<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/wagemanager</property>
   <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">admin</property>
    <mapping resource="cn/database/bean/impl/Department.hbm.xml"/>
    <mapping resource="cn/database/bean/impl/Attendance.hbm.xml"/>
    <mapping resource="cn/database/bean/impl/Employee.hbm.xml"/>
    <mapping resource="cn/database/bean/impl/AnnualBonus.hbm.xml"/>
    <mapping resource="cn/database/bean/impl/Wage.hbm.xml"/>
    <mapping resource="cn/database/bean/impl/Joblevel.hbm.xml"/>
    <mapping resource="cn/database/bean/impl/Allowance.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
